{
  "presets": ["@babel/react", ["@babel/preset-env", { "modules": "commonjs" }]],
  "plugins": [
    // Stage 2
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-function-sent",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-numeric-separator",
    "@babel/plugin-proposal-throw-expressions",

    // Stage 3
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-meta",
    ["@babel/plugin-proposal-class-properties", { "loose": false }],
    "@babel/plugin-proposal-json-strings",
    "add-module-exports"
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  },
  "ignore": [
    "**/__tests__", // ignore the whole test directory
    "**/*.test.js", // ignore test files only
    "**/__fixtures__"
  ]
}
